@import url('https://fonts.googleapis.com/css2?family=Hubballi&family=Inconsolata:wght@300&family=Jura&family=League+Spartan:wght@100;300;400&family=Lora:ital,wght@0,400;0,500;1,400&family=Montserrat&family=Open+Sans:wght@700&family=Oxygen:wght@400;700&family=Poppins:wght@200;300;500;600;700;800;900&family=Raleway:wght@100;200;300;400;600;700&family=Roboto+Slab:wght@100;200;300;400&family=Roboto:wght@100;400;500&family=Ubuntu:wght@400;500&display=swap');
body{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
}
a{
    text-decoration: none;
    color: #35312E;
}
li{
    list-style-type: none;
}
.container {
    max-width: 1440px;
    height: 650px;
    margin: 0 auto;
}

.header {
    background-color: #F5F1E9;
    width: 100%;
    height: 112px;
}

.header__navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 35px;
}

.header__navbar__items {
    margin-left: 35px;
    font-family: 'Roboto',sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    line-height: 22px;
    letter-spacing: 0.5px;
    text-transform: uppercase;

}

.header__title-text {
    padding: 0 414px;
}
.btn{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: none;
    margin-left: 35px;
    background-color: #C87B5E;
    color: white;
}
.main {
    position: relative;
}
.main__image{
    position: absolute;
    object-fit: cover;
    top: -20px;
    left: 0;
    right: 0;
}
.main__body {
}

.main-text {
    position: absolute;
    z-index: 2;
    top: 169px;
    left: 383px;
}
.main__text-par {
    font-family: 'Roboto',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    text-transform: uppercase;
    color: #35312E;
}
.main__text-title {
    width: 290px;
    font-family: 'Roboto',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    line-height: 72px;
    letter-spacing: 1px;
    color: #35312E;
}
.main__body-button {
    width: 248px;
    height: 60px;
    background-color: #D37657;
    border: none;
    font-family: 'Roboto',sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 20px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}
.catalog__containers {
    max-width: 1440px;
    height: 260px;
    margin: 0 auto;
    background-color: #F5F1E9;
}
.catalog__title-image{
    width: 648px;
    padding-top: 100px;
}
.catalog__text-image {
    margin-left: 80px;
}
.catalog__text-title{
    padding: 60px 0 20px;
    margin-left: -90px;
    text-align: center;
}
.catalog__title{
    font-size: 26px;
    font-family: 'Roboto',sans-serif;
    font-weight: 500;
    text-transform: uppercase;
}
.catalog__image{
    margin-left: 140px;
    padding-top: 30px;
}
.catalog__image:first-child{
    padding-left: 0;
}
.content__text- {
    height: 340px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 134px;
}

.content__text-title {
    width: 400px;
    font-family: 'Roboto',sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 41px;
    line-height: 46px;
    text-align: center;
    letter-spacing: 1.25px;
    color: #35312E;
}

.content__text-paragrph {
    width: 650px;
    height: 104px;
    margin-left: 135px;
    font-family: 'Roboto',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #4F463F;
}
.product {
    height: 1000px;
    background-color: rgba(224, 157, 129, .1);
}

.product__text-title {
    text-align: center;
    font-family: 'Roboto',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 48px;
    text-align: center;
    padding-top: 74px;
    color: #35312E;
}
.product__colors-btn {
    text-align: center;
}
.product__image__{
    margin: 10px 350px;
 }
.product__colors{
    margin: 52px 15px;
}
/*Cards
------------------------------*/
.cards {
    height: 820px;
}
.card__text{
    margin: 0 500px;
}
.card__text-title {
    width: 477px;
    height: 111px;
    font-family: 'Roboto',sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 33px;
    line-height: 55px;
    text-align: center;
    margin: 75px 0 0 0px;
    letter-spacing: 1.2px;
    color: #35312E;
}

.card__text-par {
    width: 441px;
    height: 58px;
    font-family: 'Roboto',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 29px;
    text-align: center;
    margin: 20px 0 66px;
    color: #4F463F;
}

.card__images {
    display: flex;
    flex-wrap: wrap;
}
.btn__card{
    width: 286px;
    height: 233px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    margin-left: 57px;
}
.btn__card img{
   margin-top: -60px;
}
.card__descreptions{
    display: flex;
    align-items: end;
    margin-left: -10px;
    text-align: center;
}
.card__descreptions-text {
    width: 286px;
    height: 128px;
    margin-left: 70px;
}
.card__descreptions-text:first-child {
    margin-left: 50px;
}
.card__descreptions-text p{
    font-family: 'Roboto',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    color: #35312E;
}
.card__descreptions-text h6 {
    width: 161px;
    height: 59px;
    font-family: 'Roboto',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.2px;
    margin-left: 60px;
    color: #6E635A;
}
.footer__news-block {
    display: flex;
}
.footer__news-text-center {
    width: 482px;
    height: 480px;
    background-color: rgba(170, 160, 152, 0.2);
}
.footer__news-hashtag {
    padding: 111px 0 0;
    font-family: 'Roboto',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #35312E;
    text-align: center;
}

.footer__news-title {
    font-family: 'Roboto',sans-serif;
    font-weight: 500;
    font-size: 24px;
    line-height: 46px;
    letter-spacing: 1px;
    color: #35312E;
    margin: 109px 64px 61px;
    text-align: center;
}

.footer__news-button {
    width: 256px;
    height: 54px;
    border: none;
    font-family: 'Roboto',sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    color: #4F463F;
    margin-left: 114px;
}
/*Footer
-------------------------------------------*/
.footer {
    background-color: rgba(110, 98, 89, 1);
    height: 653px;
}
.footer__block-display{
    display: flex;
}
.footer__block-left {
    padding: 80px 447px 0 48px;
}
.footer__text-title {
    font-weight: 600;
    font-size: 23px;
    line-height: 58px;
    letter-spacing: 0.7px;
    margin-bottom: 11px;
    color: #F5F1E9;
}
.footer__paragaph {
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 60px;
    color: #FCFAF6;
}
.footer__input {
    width: 447px;
    height: 60px;
    color: white;
    font-size: 16px;
}
.footer__block-right {
    display: flex;
    padding: 110px 40px 0 0;
}
.footer__navbars-left{
    width: 149px;
    height: 270px;
}
.footer__navbars-left p{
    padding-top: 20px;
    color: rgba(245, 241, 233, 0.6);
    text-transform: uppercase;
}
.footer__image-flag{
    margin-right: 20px;
}
.footer__navbars-item{
    display: flex;
    font-weight: 400;
    font-size: 16px;
    line-height: 31px;
    color: rgba(245, 241, 233, 0.6);
    margin-bottom: 20px;
}
.footer__navbars-item:first-child{
    color: white;
    font-size: 18px;
}
.footer__navbars-center {
    width: 149px;
    height: 270px;
}
.footer__navbars-right {
    width: 149px;
    height: 270px;
}
.footer__end {
    padding-top: 200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.footer__end-text {
    margin: 0 0 0 50px;
    color: rgba(245, 241, 233, 0.6);
}
.footer__end-items a{
    margin-left: 30px;
    color: rgba(245, 241, 233, 0.6);
}
.footer__end-items button{
    width: 80px;
    height: 20px;
    border: none;
    text-align: center;
    border-radius: 5px;
    margin-right: 80px;
}
